header {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	align-content: center;
}

.header-wrap a {
	font-size: 3em;
	background: #11111;
	text-align: center;
	color: #443252;
}

/* 네비게이션 바에 목록 구성하기s */
nav ul {
	width: 100%;
	/* background-color: rgba(10, 42, 39, 0.983); */
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
/* 메뉴들이 나란히 나타날 수 있게 해주는 기능 */
nav ul li {
	display: inline-block;
}

/* 각 메뉴별로 공간이 나눠져 있는데, 각 공간의 사이즈 */
.menu {
	color: white;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.menu a {
	color: #0c2d45;
	padding: 0px 35px;
	text-decoration: none;
	display: block;
}

.menu:hover:not(.home) {
	background-color: #f6f6e9;
	color: white;
}

/* div태그 메인 공간에 색깔 넣어둠 */
.main_bottom {
	margin: 20px 30px 0 30px;
	padding: 10px 10px;
	height: 400px;
	text-align: center;
	background-image: linear-gradient(#d1e6c8 1.9000000000000001px, transparent
		1.9000000000000001px),
		linear-gradient(to right, #d1e6c8 1.9000000000000001px, #fdfdfd
		1.9000000000000001px);
	background-size: 38px 38px;;
}

.message_wrap {
	margin: 20px auto auto auto;
	padding: 50px;
	text-align: center;
	width: 60%;
	height: 200px;
	font-size: 30px;
}

.message_wrap a {
	margin: 10px auto auto auto;
}

.wrapper {
	margin: 0 auto;
	width: auto;
}

.top {
	background-color: white;
	position: realative;
	left: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	padding-top: 7px;
}

.top p {
	font-size: 12px;
	line-height: 20px;
	background: #f5faf4;
}

.top p: hover {
	color: #a8a8a8;
}

.top_menu {
	display: inline;
}

.top_menu li {
	display: inline-block;
}

.top_menu .login {
	float: right;
	padding-right: 20px;
}

.top_menu .login a p {
	float: right;
	color: #6b7457;
}

.top_menu .login:hover p {
	color: darkgray;
}

.main_bottom div {
	margin: 50px 50px 50px 50px;
	padding: 70px 70px 70px 70px;
}